@model MarioPizzeria.Models.Pizza

@{
    ViewData["Title"] = "Create";

    var crustList = new SelectList(
       new List<SelectListItem>
       {
            new SelectListItem {Text = "Thin", Value = "Thin"},
            new SelectListItem {Text = "Thick", Value = "Thick"},
       }, "Value", "Text");
}

<h1>Create</h1>

<h4>Pizza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceS" class="control-label"></label>
                <input asp-for="PriceS" class="form-control" />
                <span asp-validation-for="PriceS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceM" class="control-label"></label>
                <input asp-for="PriceM" class="form-control" />
                <span asp-validation-for="PriceM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceL" class="control-label"></label>
                <input asp-for="PriceL" class="form-control" />
                <span asp-validation-for="PriceL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crust" class="control-label"></label>
                @Html.DropDownListFor(m => m.Crust, crustList, "Select crust", new { @class = "form-control" })
                <span asp-validation-for="Crust" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
