@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mario's!</h1>
    <img src="https://i.pinimg.com/originals/c9/92/af/c992afba128814c5cd01f98435568974.png" width="60%"/>
</div>
